body{

    margin: 0;

}

.navbar {

    position: fixed;
    overflow: hidden;
    background-image: url("4c7cab0beab60c138e1ed84d96596d54.gif");
    background-position: center;
    padding-left: -10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;

}

.navbar a {

    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.dropdown {

    float: left;
    overflow: hidden;
    background-color: transparent;

}

.dropdown .dropbtn {

    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {

    background-color: lightgray;
    color: black;

}

.dropdown-content {

    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {

    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {

    background-color: #ddd;
}

.dropdown:hover .dropdown-content {

    display: block;

}

.foto_slide{

    margin: -10px;
    padding: 0;
    background-image: url("giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 950px;
    margin: 0 auto;


}

.first_div{

    text-align: center;
    width: 960px;
    margin: 0 auto;

}

.schuine_text{

    text-align: center;
    font-style: italic;
    font-family: Lato;
    color: gray;
    font-size: 12px;

}

.schuine_text1{

    text-align: center;
    font-style: italic;
    font-family: Lato;
    font-weight: bold;
    color: dimgray;
    font-size: 15px;

}

.schuine_text2{

    text-align: center;
    font-style: italic;
    font-family: Lato;
    font-weight: bold;
    color: dimgray;
    font-size: 20px;

}

p{

    margin: auto;
    text-align: left;
    width: 750px;
    font-size: 18px;

}

.profile-pic {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.text-profile{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.date{

    list-style: none;
    color: #757575;
    text-align: left;
    width: 960px;
    margin: 0 auto;

}

.date li{

    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    background-color: white;

}

span.sold_out{

    background-color: #f44336;
    color: white;
    box-sizing: inherit;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 16px;

}

.second_div{

    max-width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;

}

.box{

    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.mini_box{

    max-width: 250px;

}

.text_box{

    color: black;
    background-color: white;
    padding: 1em;

}

.titel{

    font-weight: bolder;
    font-size: 20px;
    max-width: 200px;

}

.text2{

    font-family: Lato;
    color: dimgray;
    font-size: 16px;
    max-width: 200px;

}

.text{

    max-width: 200px;

}

.buy{

    border: none;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 100px;
    height: 50px;

}

.buy:hover{

    color: white;
    background-color: grey;

}

.contact{

    text-align: center;
    max-width: 960px;
    margin: 0 auto;

}

.contact_content{

    display: flex;
    justify-content: center;

}

.name{

    border: 1px solid lightgrey;
    width: 300px;
    height: 40px;

}

.email{

    border: 1px solid lightgrey;
    width: 300px;
    height: 40px;

}

.content_form{

    border: 1px solid lightgrey;
    width: 700px;
    height: 40px;

}

.submit{

    border: 1px solid transparent;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 90px;
    padding: 10px;

}

.submit:hover{

    color: black;
    background-color: lightgrey;

}

ul{

    list-style: none;
    display: table;

}

.para{

    background-image: url("36090a9929e8b4c105d738009f44041c.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    height: 600px;
    margin: 0 auto;


}

footer{

    text-align: center;

}

.copyright{

    text-align: center;
    color: grey;
    font-size: 18px;

}